bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out
tmp/


# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum


# env file
.env

coverage.out